body {
  font-family: 'Roboto', sans-serif;
  color: #FAFAFA;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #FAFAFA;
  z-index: 1;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
  z-index: 1;
  width: 80px;
  height: 70px;
}

/* Logo wit maken 
.logo {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
*/
.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-transform: uppercase;
  color: #1C2833;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  color: #3366cc;
}

.menu-btn {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  cursor: pointer;
  width: 40px;
  height: 20px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background: #1C2833;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: #1C2833;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

/* Burger animatie */
.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

@media screen and (min-width: 769px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 5vh;
    background-color: #1C2833;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translatex(100%);
            transform: translatex(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links a {
    color: #FAFAFA;
  }
  .nav-links li {
    opacity: 0;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translatex(50px);
            transform: translatex(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translatex(50px);
            transform: translatex(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

/* footer */
.footerLogo {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 150px;
  height: 150px;
}

.site-footer {
  text-align: center;
  background-color: #1C2833;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #FAFAFA;
}

.site-footer hr {
  border-top-color: #FAFAFA;
  opacity: 1;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #FAFAFA;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  text-decoration: none;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

.footer-over {
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 769px) {
  .footer-over,
  .footer-categorie,
  .footer-contact,
  .footer-copyright {
    display: inline-block;
    width: 30vw;
  }
  .footer-categorie {
    border-right: 4px solid #FAFAFA;
    border-left: 4px solid #FAFAFA;
  }
}

.footer-over,
.footer-categorie,
.footer-contact,
.footer-copyright {
  padding-bottom: 15px;
}

.footer-copyright {
  padding-top: 15px;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
    display: block;
  }
}

/*contact button */
.contactBtn {
  border-radius: 4px;
  background-color: #FAFAFA;
  border: none;
  color: #1C2833;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.contactBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contactBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contactBtn:hover span {
  padding-right: 25px;
}

.contactBtn:hover span:after {
  opacity: 1;
  right: 0;
}

/* Secties */
/* Intro */
.intro {
  padding-top: 8vh;
  width: 100%;
  height: 100vh;
  background-color: #FAFAFA;
}

.animation-area {
  width: 100%;
  height: 100%;
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: #2474a4;
  -webkit-animation: animate 20s linear infinite;
          animation: animate 20s linear infinite;
  opacity: 50%;
  bottom: -150px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 42%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 70%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(360deg);
            transform: translateY(-800px) rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(360deg);
            transform: translateY(-800px) rotate(360deg);
  }
}

.IntroTekst {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4vw;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #1C2833;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AppTekst {
  top: 60%;
}

.IntroTekst p {
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}

.IntroTekst p span.typed-text {
  font-weight: normal;
  color: #2474a4;
}

.IntroTekst p span.cursor {
  display: inline-block;
  background-color: #1C2833;
  margin-left: 0.1rem;
  width: 3px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

.IntroTekst p span.cursor.typing {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes blink {
  0% {
    background-color: #1C2833;
  }
  49% {
    background-color: #1C2833;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #1C2833;
  }
}

@keyframes blink {
  0% {
    background-color: #1C2833;
  }
  49% {
    background-color: #1C2833;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #1C2833;
  }
}

@media screen and (max-width: 1200px) {
  .centered {
    font-size: 4vw;
  }
  .IntroTekst {
    font-size: 6vw;
  }
}

/* Services & projecten */
.services {
  padding-top: 60px;
  height: auto;
  width: 100%;
  background-color: #FAFAFA;
  text-align: center;
  padding-bottom: 60px;
}

.services__text h1 {
  color: #1C2833;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 4px solid #1C2833;
}

.cen {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

.cen h2 {
  color: #1C2833;
}

.cen p {
  margin-top: 10px;
  color: #424242;
}

.service {
  display: inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service:hover {
  background: #1C2833;
}

.service i {
  color: #1C2833;
  font-size: 34px;
  margin-bottom: 30px;
}

.service:hover i {
  color: #FAFAFA;
}

.service:hover h2 {
  color: #FAFAFA;
}

.service:hover p {
  color: #FAFAFA;
}

.service h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  color: #1C2833;
}

.service p {
  color: #424242;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .service {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .service {
    width: 100%;
  }
}

.services1 {
  width: 100%;
  height: auto;
  background-color: #1C2833;
  text-align: center;
}

.services1 h1 {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
}

/* Projecten */
.projectenImg {
  width: 30vw;
  height: 25vw;
}

.meerwetenBtn {
  text-transform: uppercase;
  background-color: #1C2833;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  color: #FAFAFA;
  border: 2px solid #FAFAFA;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.meerwetenBtn:hover {
  background-color: #FAFAFA;
  color: black;
  border: 2px solid #1C2833;
}
/*# sourceMappingURL=style.css.map */