@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap";

:root {
  --primary: #00a69c;
  --secondary: #26a9e0;
  --primary-invert: #fff;
  --secondary-invert: #092f57;

  --gradient-primary: linear-gradient(230deg, #000, #000);
  --gradient-secondary: linear-gradient(230deg, #071836, #020024);
  --gradient-three: linear-gradient(230deg, #00a69c, #26a9e0);

  /* DEFAULT COLOR OF TEXTS */
  --text-primary: #000;

  /* FOR BUTTONS & INPUTS */
  --elements-roundness: 0;

  --space-between-blocks: 5.3rem;
  /* for mobiles */
  --space-between-blocks-small-screens: 3rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-primary);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "JetBrains Mono", monospace;
  letter-spacing: -0.1rem;
}

.space-between-blocks {
  padding-top: var(--space-between-blocks-small-screens);
  padding-bottom: var(--space-between-blocks-small-screens);
}

@media (min-width: 992px) {
  .space-between-blocks {
    padding-top: var(--space-between-blocks);
    padding-bottom: var(--space-between-blocks);
  }
}

.underlineText {
  color: var(--primary);
  border-bottom: 3px solid var(--secondary);
}

.gradientText {
  background: -webkit-linear-gradient(#00a69c, #26a9e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Buttons */

button {
  color: inherit;
  padding: 0;
  background: none;
  border: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
  border: none;
  transition: 0.2s all;
  border-radius: var(--elements-roundness);
}

@media (min-width: 992px) {
  .btn {
    padding: 0.8rem 2rem;
  }
}

.btn,
.btn:hover,
.btn:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.btn:hover,
.btn:focus {
  transform: scale(1.05);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background: var(--secondary-invert);
  color: var(--primary-invert);
  box-shadow: 8px 8px 0 var(--primary);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background: var(--gradient-secondary, --secondary);
  color: var(--secondary-invert);
}

.btn-primary--empty,
.btn-primary--empty:hover,
.btn-primary--empty:focus {
  color: var(--primary);
}

.btn-sm {
  padding: 0.8rem;
}

.highlight {
  color: var(--primary);
}

/* block header */

.block__header {
  margin-bottom: 4rem;
}

.block__title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.4;
}

@media (min-width: 992px) {
  .block__title {
    font-size: 2.5rem;
  }

  .block__title--big {
    font-size: 3rem;
    line-height: 1.1;
  }
}

@media (min-width: 1200px) {
  .block__title--big {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

.block__paragraph {
  font-size: 1.1rem;
  line-height: 1.5;
  opacity: 0.9;
}

@media (min-width: 992px) {
  .block__paragraph--big {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}

/* Icons */

.fr-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.04);
  margin-bottom: 1.5rem;
  transition: 0.5s;
}

.fr-icon--medium {
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
}

.fr-icon--large {
  font-size: 1.2rem;
  height: 3.25rem;
  width: 3.25rem;
}

@media (min-width: 992px) {
  .fr-icon--large {
    height: 3.8rem;
    width: 3.8rem;
    font-size: 1.9rem;
  }
}

/* NAV */

.navTriangles {
  display: none;
}

@media (max-width: 991px) {
  .navTriangles {
    display: block;
  }
}

.hero-nav {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--hero-nav-height);
  display: flex;
  align-items: center;
  z-index: 999;
}

.hero-nav__item {
  margin: auto;
  font-size: 1.1rem;
}

@media (min-width: 992px) {
  .hero-nav__item {
    margin: 0 1rem;
  }
}

@media (min-width: 992px) {
  .nav--lg-side {
    flex-direction: row-reverse;
  }
}

.hero-nav__logo {
  height: 35px;
}

.hero-nav__link {
  color: inherit;
  opacity: 0.9;
}

.hero-nav__link:focus,
.hero-nav__link:hover {
  color: inherit;
  text-decoration: none;
  opacity: 1;
}

.ft-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (print), (prefers-reduced-motion: reduce) {
  .ft-menu {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}

.ft-menu .hero-nav__item {
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

@media (min-width: 992px) {
  .ft-menu .hero-nav__item {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.ft-menu--js-show {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.ft-menu::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: var(--secondary-invert);
  opacity: 0.9;
  z-index: -1;
}

@media (min-width: 992px) {
  .ft-menu {
    -webkit-animation-name: none;
    animation-name: none;
    position: static;
    z-index: auto;
  }

  .ft-menu::before {
    content: none;
  }
}

.ft-menu__slider {
  color: var(--dropdown-text-color);
  background: linear-gradient(
    0deg,
    rgba(9, 47, 87, 1) 0%,
    rgba(255, 255, 255, 1) 30%
  );
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateX(-100%);
  transition: 0.5s transform;

  @media (max-width: 991px) {
    li {
      margin-top: 50px;
    }
  }
}

@media (min-width: 992px) {
  .ft-menu__slider {
    --block-background: transparent;
    color: var(--block-text-color);
    width: auto;
    height: auto;
    background: 0 0;
    transform: none;
    display: flex;
    align-items: center;
  }
}

.ft-menu--js-show .ft-menu__slider {
  transform: translateX(0);
}

.ft-menu__close-btn {
  color: var(--secondary-invert);
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  margin: 1rem;
  transform: translateX(100%);
  transition: 0.5s transform;
}

@media (min-width: 992px) {
  .ft-menu__close-btn {
    display: none;
  }
}

.ft-menu--js-show .ft-menu__close-btn {
  transform: translateX(0);
}

.ft-menu__close-btn:focus,
.ft-menu__close-btn:hover {
  color: var(--primary-invert);
}

@-webkit-keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fixed-nav-container {
  height: var(--hero-nav-height);
}

.hero-nav--is-sticky {
  color: var(--dropdown-text-color);
  background: var(--dropdown-background);
  position: fixed !important;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 1rem !important;
  height: 60px;
  transition: 0.2s height;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@media (min-width: 992px) {
  .hero-nav--is-sticky {
    height: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1rem 0.5rem !important;
  }
}

.hero-nav--is-sticky .ft-menu__slider {
  color: var(--dropdown-text-color);
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.ft-menu__slider .hero-nav__item {
  font-size: 1.1rem;
  padding: 0 1rem;
}

@media (min-width: 992px) {
  .ft-menu__slider .hero-nav__item {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .hero-nav {
    max-width: 100% !important;

    .container {
      max-width: 100%;
    }
  }
}

.hero-nav__link {
  display: flex;
  align-items: center;
  outline: 0 !important;
}

.ft-menu__slider {
  overflow-x: hidden;
  overflow-y: auto;
}

@media (min-width: 992px) {
  .ft-menu__slider {
    overflow: visible;
  }
}

.hero-nav__item--with-dropdown {
  position: relative;
  cursor: pointer;
}

@media (min-width: 992px) {
  .hero-nav__item--with-dropdown::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 176%;
  }
}

.hero-nav__dropdown {
  position: static;
  width: 100%;
  height: auto;
  font-size: 0.9rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all;
  color: var(--dropdown-text-color);
  text-align: initial;
  cursor: auto;
}

@media (min-width: 992px) {
  .hero-nav__dropdown {
    position: absolute;
    top: 176%;
    left: 0;
    margin-top: 0;
    border-radius: 10px;
    border-top: none;
    box-shadow: 0 14px 50px 0 rgba(0, 0, 0, 0.1);
    background: var(--dropdown-background);
    z-index: 2;
    border-bottom: 5px solid var(--primary);
    max-height: 0;
    padding: 2.3rem 3rem 2rem 2rem;
    overflow: visible;
    transition: 0.3s all;
  }
}

.dropdown--important {
  position: absolute;
  width: auto !important;
  top: 176%;
  left: 0;
  margin-top: 0;
  border-radius: 10px;
  border-top: none;
  box-shadow: 0 14px 50px 0 rgba(0, 0, 0, 0.1);
  background: var(--dropdown-background);
  z-index: 2;
  max-height: 0;
  padding: 2rem;
  padding-right: 3rem;
  overflow: visible;
  transition: 0.3s all;
}

@media (min-width: 992px) {
  .dropdown--of-1-columns {
    width: 400px;
  }

  .dropdown--of-2-columns {
    width: 700px;
  }

  .dropdown--language-selector {
    width: 250px;
  }
}

.hero-nav__item--show-dropdown .hero-nav__dropdown {
  margin-top: 1rem;
  visibility: visible;
  opacity: 1;
  max-height: 9999px;
  padding-top: 1rem;
}

@media (min-width: 992px) {
  .hero-nav__item--show-dropdown .hero-nav__dropdown {
    margin-top: 0;
    padding: 2.3rem 3rem 2rem 2rem;
  }
}

.hero-nav__item-chevron {
  transition: 0.3s all;
}

.hero-nav__item--show-dropdown .hero-nav__item-chevron {
  transform: rotate(180deg);
}

.hero-nav__item--dropdown-left .hero-nav__dropdown {
  transform: translateX(-15px) !important;
}

.hero-nav__item--dropdown-left .hero-nav__dropdown::before {
  left: 15%;
  right: auto;
}

.hero-nav__item--dropdown-right .hero-nav__dropdown {
  transform: translateX(15px) !important;
  left: auto;
  right: 0;
}

.hero-nav__item--dropdown-right .hero-nav__dropdown::before {
  left: auto;
  right: 15%;
}

@media (min-width: 992px) {
  .hero-nav__item--lg-dropdown-left .hero-nav__dropdown {
    transform: translateX(-15px) !important;
    left: 0;
    right: auto;
  }

  .hero-nav__item--lg-dropdown-left .hero-nav__dropdown::before {
    left: 15%;
    right: auto;
  }

  .hero-nav__item--lg-dropdown-right .hero-nav__dropdown {
    transform: translateX(15px) !important;
    left: auto;
    right: 0;
  }

  .hero-nav__item--lg-dropdown-right .hero-nav__dropdown::before {
    left: auto;
    right: 15%;
  }
}

.dropdown--important::before {
  content: "";
  width: 17.1px;
  height: 6.85px;
  background: var(--dropdown-background);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  margin: auto;
}

@media (min-width: 992px) {
  .hero-nav__dropdown::before {
    content: "";
    width: 17.1px;
    height: 6.85px;
    background: var(--dropdown-background);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.dropdown__title {
  color: var(--dropdown-text-color);
  opacity: 0.7;
  font-weight: 600;
  font-size: 0.9rem;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1.18rem;
}

.dropdown__link {
  display: flex;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
  margin-bottom: 1.3rem;
  color: inherit;
  text-decoration: none;
}

.dropdown__link:focus,
.dropdown__link:hover {
  color: inherit;
  text-decoration: none;
}

[javascript-language-selector] .dropdown__link {
  border-radius: 0.5rem;
  padding: 0.7rem;
  margin-bottom: 3px;
}

.dropdown__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dropdown__link:last-child {
  margin: 0;
}

[javascript-language-selector] .dropdown__link--selected,
[javascript-language-selector] .dropdown__link:focus,
[javascript-language-selector] .dropdown__link:hover {
  background: rgba(0, 0, 0, 0.06);
}

.dropdown__icon {
  width: 35px;
  height: 35px;
  background-color: var(--secondary-invert);
  color: var(--primary-invert);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 13px;
}

@media (min-width: 992px) {
  .dropdown__icon {
    width: 40px;
    height: 40px;
  }
}

.dropdown__item {
  max-width: 250px;
}

.dropdown__item-title {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.5;
  position: relative;
  z-index: -1;
}

@media (min-width: 992px) {
  .dropdown__item-title {
    white-space: nowrap;
  }
}

.dropdown__item-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  width: 100%;
  background: var(--secondary);
  transform: translateY(2px);
  opacity: 0;
  transition: 0.2s;
}

[javascript-language-selector] .dropdown__item-title {
  white-space: nowrap;
}

[javascript-language-selector] .dropdown__item-title::before {
  display: none;
}

.dropdown__link:focus .dropdown__item-title::before,
.dropdown__link:hover .dropdown__item-title::before {
  height: 30%;
  transform: translateY(0);
  opacity: 0.4;
}

.dropdown__item-description {
  font-size: 0.9rem;
  opacity: 0.9;
  margin-top: 0.3rem;
  margin-bottom: 0;
}

.dropdown__item-description,
.dropdown__item-title {
  width: 95%;
}

/* Service cards */
.block-13 {
  --block-background: rgb(225, 227, 229);
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
  position: relative;
  z-index: 1;
}

.block-13__shape-for-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 75%;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.card-1 {
  height: 100%;
  padding: 3rem 2.8rem;
  padding-bottom: 5.8rem;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: transform 0.5s;
  background: #fff;
  overflow: hidden;
  background: #fcf9f8;
}

@media (max-width: 992px) {
  .col-lg-4 {
    margin-top: 30px;
  }
}

.card-1:focus,
.card-1:hover {
  color: var(--primary-invert);
  background: var(--secondary-invert);
  box-shadow: 0 5px 50px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px) scale(1.02);
}

.card-1::after,
.card-1::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  background: rgb(255 255 255 / 19%);
  border-radius: 10rem;
  box-shadow: 0 0 115px 52px rgb(255 255 255 / 60%);
  z-index: -1;
  opacity: 0;
  transition: opacity 1s;
}

.card-1::before {
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.card-1::after {
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}

.card-1:hover::after,
.card-1:hover::before {
  opacity: 1;
}

.card-1__title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.93rem;
}

.card-1__paragraph {
  font-size: 14.4px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  margin-bottom: 3.4rem;
}

.card-1__button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform: translateX(-15px);
  position: absolute;
  right: 0;
  bottom: 0;
}

.card-1__cta-text {
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.27px;
}

.card-1__cta-icon {
  transition: transform 0.7s;
}

.card-1:focus .card-1__cta-icon,
.card-1:hover .card-1__cta-icon {
  transform: translateX(5px);
}

.card-1__content {
  position: relative;
  padding-bottom: 1rem;
  height: 100%;
  z-index: 2;
}

.card-1__shapes {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.card-1__shapes svg {
  opacity: 0.1;
  transition: transform 1s;
  transform: scale(1.2);
  transform-origin: right;
}

.card-1:hover .card-1__shapes svg {
  transform: rotate(5deg) translateX(-10px);
}

.card-1:hover .card-1__shapes path {
  transform: translate(10px);
}

.card-1:focus .card-1__shapes svg,
.card-1:hover .card-1__shapes svg {
  opacity: 0.2;
}

.card-1__shapes svg {
  padding-top: 10px;
  padding-right: 10px;
  overflow: visible;
}

.card-1__shapes path {
  transition: transform 0.7s;
  fill: #fff;
}

/*------------------------------*/
/*--Section Name----------------*/
/*------------------------------*/
.hero {
  --hero-nav-height: 100px;
  --dropdown-background: white;
  --dropdown-text-color: var(--text-primary);
  --block-background: linear-gradient(to top, rgb(0 0 0 0), transparent);
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero__row {
  height: 300px;
  position: static;
}

@media (min-width: 992px) {
  .hero__row {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
  }
}

.hero_empty-column {
  height: 100%;
}

.hero__image-column {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.hero__content {
  margin-top: 100px;
  text-align: initial;
}

.hero__body {
  padding-top: 2rem;
  padding-bottom: 3rem;
  position: relative;
  z-index: 1;
}

@media (min-width: 992px) {
  .hero__body {
    padding-top: 4rem;
    padding-bottom: 9rem;
  }
}

.hero__title {
  font-size: 1.8rem;
  font-weight: 900;
}

.hero__paragraph {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.7;
  opacity: 0.98;
}

@media (min-width: 576px) {
  .hero__title {
    font-size: 2.5rem;
    line-height: 1.17;
  }

  .hero__paragraph {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 3rem;
    line-height: 1.22;
  }
}

@media (min-width: 992px) {
  .hero__title {
    width: 95%;
  }

  .hero__paragraph {
    font-size: 1.2rem;
    width: 70%;
  }
}

.hero__btns-container {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.hero-nav--is-sticky {
  box-shadow: none;
}

.hero-nav--is-sticky::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  width: 99999%;
  margin-left: -999%;
  z-index: -1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

/*------------------------------*/
/*-- GROUP OF FEATURES ----------------*/
/*------------------------------*/
.block-8-scr {
  --space-between-blocks: 2rem;
  --block-background: white;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
}

.block-8-scr__li {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.9;
  margin-bottom: 0.8rem;
}

.block-8-scr__li:last-child {
  margin-bottom: 0;
}

.plan-features__icon {
  width: 1.1rem;
  height: 1.1rem;
  color: #33c58d;
}

.block-8-scr__li-icon {
  color: #33c58d;
  transform: scale(1.5);
}

.block-8-scr__img {
  width: 70%;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  background: none;
}

/*------------------------------*/
/*-- CONTACT US ----------------*/
/*------------------------------*/
.block-26 {
  --block-background: #f5f5f5;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
  padding-top: 5.8rem;
  padding-bottom: 5.8rem;
}

.block-26__title {
  font-size: 2.1rem;
  font-weight: 600;
}

.block-26__heading {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.block-26__item {
  margin-bottom: 0.4rem;
}

/*------------------------------*/
/*-- CTA ----------------*/
/*------------------------------*/
.block-32 {
  --block-background: #edecef;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
}

/*------------------------------*/
/*-- FOOTER ----------------*/
/*------------------------------*/
/*------------------------------*/
/*--Section Name----------------*/
/*------------------------------*/
.block-41 {
  --block-background: var(--secondary-invert);
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--primary-invert);
  font-size: 0.87rem;
}

.block-41__logo {
  height: 36px;
}

.block-41__brand-story {
  font-size: 0.87rem;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .block-41__brand-story {
    width: 90%;
  }
}

.block-41__li-heading {
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.block-41__li {
  margin-bottom: 0.7rem;
  font-size: 1rem;
}

.block-41__extra-link,
.block-41__li-link {
  color: var(--primary-invert);
}

.block-41__extra-link:focus,
.block-41__extra-link:hover,
.block-41__li-link:focus,
.block-41__li-link:hover {
  color: inherit;
  text-decoration: underline;
}

.block-41__divider {
  margin: 2.4rem 0;
}

.block-41__extra-links {
  justify-content: center;
}

@media (min-width: 768px) {
  .block-41__extra-links {
    justify-content: flex-start;
  }
}

.block-41__copyrights {
  width: 90%;
  margin: auto;
  text-align: center;
}

@media (min-width: 768px) {
  .block-41__copyrights {
    width: auto;
    text-align: initial;
  }
}

/* 404 page */

.code-body {
  background-color: var(--secondary-invert);
  height: 100vh;
  width: 100vw;
}

.code-area {
  position: absolute;
  width: 320px;
  min-width: 320px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.code-area > span {
  display: block;
}

@media screen and (max-width: 320px) {
  .code-area {
    font-size: 5vw;
    min-width: auto;
    width: 95%;
    margin: auto;
    padding: 5px;
    padding-left: 10px;
    line-height: 6.5vw;
  }
}

/* CTA INPUT */
.cta-input {
  width: 50%;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 0.87rem;
  padding: 0.4rem;
  border-radius: 5px;
  background: rgb(187 187 187 / 22%);
}

@media (max-width: 992px) {
  .cta-input {
    width: 100%;
  }
}

.cta-input__input {
  border: none;
  background: 0 0;
  padding: 0.8rem 1.5rem;
  text-align: center;
}

.cta-input__input:focus {
  border: none;
  outline: 0;
  box-shadow: none;
}

.cta-input__btn {
  width: 100%;
  font-size: 0.87rem;
  padding: 0.8rem 2.5rem;
  color: var(--primary-invert);
  background: var(--secondary-invert);
  border-radius: var(--elements-roundness);
}

.cta-p {
  font-size: 0.75rem;
  opacity: 0.9;
}

.btn--loading {
  opacity: 1;
  cursor: progress;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn--loading::after,
.btn--loading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.btn--loading::before {
  background: var(--primary);
  width: 100%;
  height: 100%;
  z-index: 1;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn--loading::after {
  margin: auto;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top: 2px solid var(--primary-invert);
  width: 1.5rem;
  height: 1.5rem;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
  z-index: 2;
}

/*------------------------------*/
/*--Section Name----------------*/
/*------------------------------*/
.block-3 {
  --block-background: white;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
}

.card-3 {
  text-align: center;
}

.card-3__title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
}

.card-3__paragraph {
  font-size: 0.95rem;
  line-height: 1.6;
  opacity: 0.95;
}

/*------------------------------*/
/*--Contact-Form----------------*/
/*------------------------------*/
.block-28 {
  --elements-roundness: 5px;
  --block-background: white;
  --block-text-color: var(--text-primary);
  background-color: var(--block-background);
  color: var(--block-text-color);
  min-height: 80vh;
  background-image: linear-gradient(to bottom, #f8f8f8 50%, transparent 0);
}

@media (min-width: 992px) {
  .block-28 {
    background-image: linear-gradient(to right, #f8f8f8 50%, transparent 0);
  }
}

.block-28__content-side,
.block-28__form-side {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contact-form,
.contact-info {
  width: 90%;
  margin: auto;
}

.hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.hr__or {
  background: var(--block-background);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 54px;
  height: 23px;
  margin-top: -12px;
  display: block;
  color: #ccc;
}

.contact-info {
  font-size: 0.9rem;
}

.contact-form__title,
.contact-info__title {
  font-size: 2.2rem;
  font-weight: 600;
}

.contact-info__paragraph {
  font-size: 1.2rem;
  opacity: 0.9;
  line-height: 1.7;
}

.contact-info__title-2 {
  font-weight: 600;
}

.contact-info__title-2 .contact-info__item {
  opacity: 0.9;
}

.contact-form__paragraph {
  font-size: 1.2rem;
  opacity: 0.9;
  line-height: 1.7;
  width: 90%;
}

.contact-form__input {
  color: var(--text-primary);
  font-size: 0.87rem;
  padding: 0.87rem 1.4rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.01);
  width: 100%;
  margin-bottom: 0.87rem;
}

textarea.contact-form__input {
  height: 130px;
  resize: none;
}

.contact-form__input:focus {
  border: 1px solid var(--primary);
  outline: 0;
  box-shadow: none;
}

.btn--loading {
  opacity: 1;
  cursor: progress;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn--loading::after,
.btn--loading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.btn--loading::before {
  background: var(--primary);
  width: 100%;
  height: 100%;
  z-index: 1;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn--loading::after {
  margin: auto;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top: 2px solid var(--primary-invert);
  width: 1.5rem;
  height: 1.5rem;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
  z-index: 2;
}

.h-100 {
  height: 100% !important;
}

/*------------------------------*/
/*--ServicesList----------------*/
/*------------------------------*/
.block-8-iph {
  --block-background: white;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
}

.block-8-iph__li {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.9;
  margin-bottom: 0.8rem;
}

.block-8-iph__li:last-child {
  margin-bottom: 0;
}

.plan-features__icon {
  width: 1.1rem;
  height: 1.1rem;
  color: #33c58d;
}

.block-8-iph__li-icon {
  color: #33c58d;
  transform: scale(1.5);
}

.block-8-iph__list {
  margin-top: 1.3rem;
}

.iphone-mockup {
  width: 50%;
  margin: auto;
  position: relative;
  z-index: 1;
}

@media (min-width: 524px) {
  .iphone-mockup {
    width: 30%;
  }
}

@media (min-width: 992px) {
  .iphone-mockup {
    width: 250px;
  }
}

.iphone-mockup__img {
  height: auto;
  width: 100%;
  position: relative;
  z-index: 1;
}

.iphone-mockup__screenshot {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 84%;
  height: 93%;
  margin: auto;
}

.block-8-iph-iph-blob-svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  transform: scale(0.8);
  color: var(--primary);
}

//Detail feautures cards

.block-12__shape-for-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 75%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.05) 0, transparent 70%);
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.block-12-card-1 {
  margin-top: 10px;
  padding: 3rem 2.3rem;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.09);
  position: relative;
  z-index: 1;
  transition: transform 0.5s;
  background: var(--secondary-invert);
  overflow: hidden;
  min-height: 300px;
  color: #fff;
}

@media (min-width: 992px) {
  .block-12-card-1 {
    padding: 3rem 2.8rem;
  }
}

.block-12-card-1::after,
.block-12-card-1::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  background: rgb(255 255 255 / 19%);
  border-radius: 10rem;
  box-shadow: 0 0 115px 52px rgb(255 255 255 / 60%);
  z-index: -1;
  opacity: 0;
  transition: opacity 1s;
}

.block-12-card-1::before {
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.block-12-card-1::after {
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}

.block-12-card-1__icon svg {
  width: 30px;
  transform: scale(2);
  margin-bottom: 1.5rem;
}

.block-12-card-1__icon path {
  color: var(--primary);
  width: 20%;
}

.block-12-card-1__title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.93rem;
  text-transform: capitalize;
}

.block-12-card-1__paragraph {
  font-size: 14.4px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  margin-bottom: 0;
}

.block-12-card-1__content {
  position: relative;
  padding-bottom: 1rem;
  height: 100%;
  z-index: 2;
}

/*------------------------------*/
/*--CTA detail----------------*/
/*------------------------------*/
.block-29 {
  border-radius: 10px;
  background: var(--gradient-three);
  color: var(--primary-invert);
}

.block-29__title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.3;
}

.block-29__paragraph {
  font-size: 1rem;
  line-height: 1.7;
  opacity: 0.9;
}

.block-29__paragraph,
.block-29__title {
  text-align: center;
}

@media (min-width: 992px) {
  .block-29__title {
    font-size: 2.5rem;
  }

  .block-29__paragraph,
  .block-29__title {
    text-align: initial;
  }

  .block-29__paragraph {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .block-29 {
    margin-bottom: 20px;
    width: 90%;
  }
}

/*------------------------------*/
/*--Quote----------------*/
/*------------------------------*/
.block-22 {
  --block-background: white;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
  padding-bottom: 0px;
}

@media (min-width: 992px) {
  .testimonial-card-3 {
    padding: 3rem;
  }
}

.testimonial-card-3__paragraph {
  font-size: 1.1rem;
  opacity: 0.95;
  line-height: 1.7;
}

@media (min-width: 992px) {
  .testimonial-card-3__paragraph {
    width: 80%;
    margin: auto;
  }
}

.testimonial-card-3__quote-svg {
  color: var(--primary);
  transform: scale(1.2);
}

.block-22-person {
  color: inherit;
  opacity: 0.7;
}

.block-22-person__link:focus,
.block-22-person__link:hover {
  color: inherit;
  text-decoration: underline;
  opacity: 1;
}

/*------------------------------*/
/*--Section Name----------------*/
/*------------------------------*/
.block-10 {
  background: var(--gradient-secondary);
  color: var(--text-primary);
}

.block-10__row {
  height: 300px;
}

@media (min-width: 992px) {
  .block-10__row {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
}

.block-10__image-column {
  height: 100%;
  background-position: center;
  background-size: cover;
}

@media (min-width: 992px) {
  .block-10__image-column {
    margin: 0 !important;
  }
}

.block-10__card {
  margin-top: -100px;
  padding: 3.3rem 2rem;
  background: #fff;
  position: relative;
  z-index: 2;
}

@media (min-width: 470px) {
  .block-10__card {
    padding: 3.3rem;
  }
}

@media (min-width: 992px) {
  .block-10__card {
    margin-top: 0;
  }
}

.block-10__li {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.9;
  margin-bottom: 2.5rem;
  line-height: 1.4;
}

.block-10__li:last-child {
  margin-bottom: 0;
}

.block-10__li-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.04);
  margin-bottom: 1.5rem;
}
